@font-face {
  font-family: 'Avalon-Regular';
  src: url(../fonts/Avalon-Regular.ttf);
}
@font-face {
  font-family: 'Avalon-Bold';
  src: url(../fonts/Avalon-Bold.ttf);
}

body{
  font-family: 'Avalon-Regular', Arial, sans-serif;
  font-weight:normal;
  font-style:normal;
}
.margin-bottom{
  margin-bottom: 40px;
}

.pagination{
  margin-top: 0!important;
}

.margin-top{
  margin-top: 40px;
}

.size{
  margin-top: 80px;
}

.size > .col-md-2{
  padding-left: 0!important;
}

div.filter div.heading h3,
div.sort label,
div.page-size label
{
  font-family: 'Avalon-Bold', Arial, sans-serif;
  font-weight: 900;
  font-size: 14px !important;
  font-weight: bold;
}

div.filter div.heading h3{
	border-top: 2px solid #999;
	padding: 3%;
}

div.paging {
  float: right;
}
.pagination .active {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: #337ab7 !important;
  border-color: #337ab7 !important;
  color: #fff !important;
  cursor: default;
}

div.filter span {
	float: right;
	padding: 0% 5%;
}

div.filter div#categories {
  padding-left: 10%;
}

div.filter div#price_range {
  padding-left: 5%;
}

div.height {
  height: 420px;
}

div.product .name {
  font-weight: 900;
  white-space: nowrap; 
  width: 100%; 
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

div.product img:hover {
  cursor: pointer;
}

div.clear-filter {
  text-align: center;
}

div.product-detail .name {
  font-size: 20px;
  font-weight: 900;
}

ol.breadcrumb a.category {
  text-transform: capitalize;
  cursor: pointer;
}


div.product p.category,
div.product-detail p.category {
  text-transform: capitalize;
  font-weight: 900;
}

div.product p.price,
div.product-detail p.price,
div.product-detail p.old-price,
div.product-detail p.sale-price {
  font-weight: 900;
}
div.product-detail p.old-price {
  text-decoration: line-through;
}

div.product-detail p.sale-price,
div.product-detail p.sole-out{
  font-weight: 900;
  color: red;
}
div.pointer-area .pointers a:hover {
  cursor: pointer;
}

footer{
  height: 70px;
  line-height: 70px;
}
#loading {
  height: 100%;
  margin: 0;
  z-index: 100;
  background-color: #fff;
  position: relative;
  text-align: center;
}
