<header>
<div class="row" style="margin-top: 30px;">
    <div class="col-md-4">
      <img src="assets/images/logo.svg" alt="" style="width:100%;">
    </div><!-- end col-md-4 -->
  </div><!-- end row -->
</header>
<hr>

<section>
  <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a class="category" ui-sref="product_by_category({category: product.attributes.category})">{{product.attributes.category}}</a></li>
        <li class="active">{{product.attributes.name}}</li>
      </ol>
    </div><!-- end col-md-12 -->

    <div class="col-md-12">

      <div class="col-md-4">
        <img src="http://via.placeholder.com/300x300" alt="" style="width: 100%;">
      </div><!-- end col-md-4 -->

      <div class="col-md-8 product-detail">
        <div class="col-md-12">
          <h1 class="name">{{product.attributes.name}}</h1>
          <p>Nullam Condimentum Nibh Etiam Sem</p>
          <p class="category"><i class="fa fa-tags" aria-hidden="true"></i> {{product.attributes.category}}</p>
          <p class="sole-out">{{product.attributes.sold_out == true ? 'Sole Out' : ''}}</p>
          <p class="under-sale">{{product.attributes.under_sale == true ? 'Under Sale' : ''}}</p>
        </div><!-- end col-md-12 -->

        <div class="col-md-12 margin-top">
          <p class="old-price" ng-if="product.attributes.sale_price != null"> S$ {{product.attributes.price}} </p>
          <p class="price" ng-if="product.attributes.sale_price == null">S$ {{product.attributes.price}}</p>
          <p class="sale-price" ng-if="product.attributes.sale_price != null">S$ {{product.attributes.sale_price}}</p>
        </div><!-- end col-md-12 -->

        <div class="col-md-12 size">

          <div class="col-md-1">
            <h4>Size</h4>
          </div><!-- end col-md-2 -->

          <div class="col-md-5">
            <select class="form-control">
              <option>59ml</option>
              <option>20ml</option>
              <option>10ml</option>
            </select>
          </div><!-- end col-md-10 -->

        </div><!-- end col-md-12 -->
      </div><!-- end col-md-8 -->

    </div><!-- end col-md-12 -->

  </div><!-- end row -->
</section>

<!-- Carousel for related products -->
<div class="row related-carousel">
  <div class="col-md-12">

    <div class="page-header">
      <h3>Related products</h3>
    </div>

    <div ng-if="related_products.length <= 0">
      <span>No related products.</span>  
    </div>

    <div class="product" ng-if="related_products.length <= 4">
      <div class="item active">
          <ul class="thumbnails">
            <li class="col-md-3" ng-repeat="x in related_products">
              <div class="thumbnail">
                <a ui-sref="detail({id: x.id})"><img src="http://placehold.it/360x240" alt=""></a>
              </div>
              <div class="caption">
                <p class="name" ui-sref="detail({id: x.id})">{{x.attributes.name}} </p>
                <p>Nullam Condimentum Nibh Etiam Sem</p>
              </div>
            </li>
          </ul>
        </div>
    </div>

    <div class="carousel slide product" id="myCarousel" ng-if="related_products.length > 4">
      <div class="carousel-inner">
        <div class="item active">
          <ul class="thumbnails">
            <li class="col-md-3" ng-repeat="x in related_products.slice(0,4)">
              <div class="thumbnail">
                <a ui-sref="detail({id: x.id})"><img src="http://placehold.it/360x240" alt=""></a>
              </div>
              <div class="caption">
                <p class="name" ui-sref="detail({id: x.id})">{{x.attributes.name}} </p>
                <p>Nullam Condimentum Nibh Etiam Sem</p>
              </div>
            </li>
          </ul>
        </div>
        <!-- /Slide1 -->
        <div class="item">
          <ul class="thumbnails">
            <li class="col-md-3" ng-repeat= "x in related_products.slice(5,9)">
              <div class="thumbnail">
                <a ui-sref="detail({id: x.id})"><img src="http://placehold.it/360x240" alt=""></a>
              </div>
              <div class="caption">
                 <p class="name" ui-sref="detail({id: x.id})">{{x.attributes.name}} </p>
                <p>Nullam Condimentum Nibh Etiam Sem</p>
              </div>
            </li>
          </ul>
        </div>

      </div>

      <div class="control-box pointer">
        <a data-slide="prev" data-target="#myCarousel" class="carousel-control left">‹</a>
        <a data-slide="next" data-target="#myCarousel" class="carousel-control right">›</a>
      </div>
      <!-- /.control-box -->

    </div>
    <!-- /#myCarousel -->

  </div>
  <!-- /.span12 -->
</div>
<!-- /.row -->


<!-- Delete This -->
<div class="footer">
  <a href="http://simonalex.com/">&hearts; Redfrost</a> | <a href="https://twitter.github.com/bootstrap/">Get Bootstrap</a> | <a href="http://placehold.it/">Get Placeholder</a>
  <p class="right">&lsaquo; Resize Window &rsaquo;</p>
  <p>&nbsp;</p>
  <p><strong>*VISIT THIS LINK FOR IE9 FIX: <a href="https://codepen.io/redfrost/pen/yKAmc"  target="_blank">https://codepen.io/redfrost/pen/yKAmc</a>
        
        
<strong></p>    
</div>


<footer>
  <div class="row">
    <p class="text-center">Copyright &copy; 2017. All Right Reserved.</p>
  </div><!-- end row -->
</footer>