<header>
<div class="row" style="margin-top: 30px;">
    <div class="col-md-4">
      <img src="assets/images/logo.svg" alt="" style="width:100%;">
    </div><!-- end col-md-4 -->
  </div><!-- end row -->
</header>

<hr>

<section>
  <div class="row">

    <div class="col-md-12">

    	<!-- side bar -->
      <div class="col-md-4 filter">
        <div class="row">
          <div class="heading" data-toggle="collapse" data-target="#categories">
            <h3>CATEGORIES <span class="up-arrow glyphicon glyphicon-chevron-down"></h3>
          </div><!-- end heading -->
          <div id="categories" class="collapse">
						<div class="checkbox" ng-repeat="x in filters.categories">
              <label>
                <input type="checkbox" ng-model="categories.selected[x.uniq_name]" ng-value="x.uniq_name" ng-change="callToFilter()">{{x.name}}
              </label>
            </div>
          </div>
        </div><!-- end row -->

        <div class="row">
          <div class="heading" data-toggle="collapse" data-target="#price_range">
            <h3>PRICE <span class="up-arrow glyphicon glyphicon-chevron-down"></span></h3>
          </div><!-- end heading -->

          <div id="price_range" class="collapse">
            <div class="checkbox" ng-repeat="x in filters.prices">
              <label>
                <input type="radio" ng-model="$parent.price_range" ng-value="x" ng-change="callToFilter()" ng-click="uncheck($event)"> {{x.name}}
              </label>
            </div>
          </div>
        </div><!-- end row -->
        <div class="row clear-filter">
        	<button type="button" class="btn btn-outline-dark" ng-click="clearFilters()">Clear Filter</button>
        </div>
      </div><!-- end col-md-4 -->

      <!-- item listing -->
      <div class="col-md-8">
	      <div class="row">
	        <div class="col-md-12">

	        	<!-- Sorting -->
	          <div class="col-md-1 sort" style="padding-top: 8px;">
	            <label>SORT</label>
	          </div><!-- end col-md-1 -->
	          <div class="col-md-4">
				      <select class="form-control col-md-8" ng-model="sort" ng-options="x.uniq_name as x.name for x in sort_range" ng-change="callToFilter()"></select>
	          </div><!-- end col-md-4 -->

	          <!-- pagination -->
	          <div class="col-md-1 page-size" style="padding-top: 8px;">
	            <label>VIEW</label>
	          </div><!-- end col-md-1 -->
	          <div class="col-md-2">
	            <select class="form-control col-md-8" ng-model="page_size" ng-options="x for x in pagination" ng-change="callToFilter()"></select>
	          </div>

	          <div class="col-md-4 paging">
	            <nav aria-label="Page navigation">
	              <ul class="pagination">
	                <li>
	                  <a href="#" id="prev" aria-label="Previous" ng-click="goToPage($event)">
	                    <span aria-hidden="true">&laquo;</span>
	                  </a>
	                </li>
	                <li ng-repeat="x in page_range">
		              	<a href="#" class="" ng-click="goToPage($event)">{{x}}</a>
		              </li>
	                <li>
	                  <a href="#" id="next" aria-label="Next" ng-click="goToPage($event)">
	                    <span aria-hidden="true">&raquo;</span>
	                  </a>
	                </li>
	              </ul>
	            </nav>
	          </div><!-- end col-md-5 -->

	        </div><!-- end col-md-12	 -->
	      </div>

	      <p>Total items: {{total_count}}</p>
        <div class="row">
	        <div class="col-md-4 margin-bottom product" ng-repeat="product in products">
	          <div class="thumbnail">
	            <img src="http://via.placeholder.com/400x550" alt="" style="width: 100%; margin-bottom:20px;" class="img-responsive" ui-sref="detail({id: product.id})" >
	            <div class="caption">
	              <p class="name" ui-sref="detail({id: product.id})">{{product.attributes.name}}</p>
	              <p class="category"><i class="fa fa-tags" aria-hidden="true"></i>{{product.attributes.category}}</p>
	              <p class="price">$ {{product.attributes.price}}</p>
	            </div>
	          </div><!-- end thumbnail -->
	        </div><!-- end col-md-4 -->
        </div>

        <div class="col-md-4 paging">
          <nav aria-label="Page navigation">
            <ul class="pagination">
              <li>
                <a href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li ng-repeat="x in page_range">
		            <a href="#" ng-click="goToPage($event)">{{x}}</a>
		          </li>
		          <li>
                <a href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div><!-- end col-md-5 -->

      </div><!-- end col-md-8 -->

    </div><!-- end col-md-12 -->

  </div><!-- end row -->
</section>

<footer>
  <div class="row">
    <p class="text-center">Copyright &copy; 2017. All Right Reserved.</p>
  </div><!-- end row -->
</footer>


